<!DOCTYPE html>
{% load static%}

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Demande de formulaire</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/test.css' %}">
</head>

<body style="background-color:#6e9df5;">


    <div class="testbox">
         <form id="formulaire_test" method="post" action="">
             {% csrf_token %}
             <div class="banner">
                 <h1> Demande de VM </h1>
            </div>
             <br/>
             <p>
                 <center>Merci de remplir le formulaire ci dessous afin d'envoyer votre demande de MV
                </center>
            </p>
             <br/>

             {{ form. }}



             <div style="text-align: center;"><button type="submit">Envoyer</button></div>

         </form>

    </div>

</body>

</html>