<!DOCTYPE html>
{% load static%}

<html>

  <head>
    <title>Demande de Formulaire</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="icon" href="">
    <link rel="stylesheet" href="{% static 'Form/css/Form.css' %}">
    <script src="{% static 'Form/javascript/Form.js' %}"></script>
  </head>



  <body style="background-color:black;">
    <div class="testbox">
      <form id="formulaire_test" method="post" action="">
                {% csrf_token %}
            <div class="banner">
          <h1>Demande de VM</h1>
        </div>
            <div class="colums">
                <div class="item">
                <label for="fname"> Nom</label>
                {{form.nom_demandeur}}
          </div>
                <div class="item">
            <label for="lname"> Prénom</label>
            {{form.prenom_demandeur}}
          </div>
                <div class="item">
            <label for="title">Nom de la machine</label>
            {{form.nom_de_la_machine}}

          </div>
                <div class="item">
                <label for="fname"> Mail</label>
                {{form.mail}}
          </div>
                <div class="item">
                <label for="fname"> URL</label>
                {{form.url}}
          </div>
                <div class="item">
          <p>Version OS</p>{{form.version_OS}}</div>
                <div class="question">
                    <label>VPN</label>
                    <div class="question-answer">
                        {{form.vpn}}
                    </div>
                 </div>
                <div class="item">
                    <label for="fax">Port TCP externe</label>
                    {{form.ports_TCP_Ext}}
                </div>
                <div class="item">
                    <label for="address1">Port UDP externe</label>
                    {{form.ports_UDP_Ext}}
                </div>
                <div class="item">
                    <p>Nombre de Coeurs</p>
                        {{form.nombre_de_coeurs}}
                    </div>
                <div class="item">
                    <p>RAM</p>
                        {{form.ram}}
                    </div>
                <div class="item">
                  <p>Espace de stockage HDD requis </p>
                        {{form.alloc_HDD}}
                </div>
                <div class="item">
                <p>Espace de stockage SSD requis </p>
                {{form.alloc_SSD}}
            </div>
                <div class="item">
                     <label for="visit">Utilisation</label>
                        {{form.utilisation}}
                </div>
                <div class="item">
                     <label for="visit">Date de mise en marche</label>
                    {{form.date_début}}
                 </div>
                <div class="item">
                    <label for="visit">Date d'arrêt</label>
                    {{form.date_fin}}
                 </div>
                <div class="item">
                    <label for="visit">Autre</label>
                    {{form.autre}}
                </div>

        <div style="text-align: center;"><button type="submit">Envoyer</button></div>
        </div>

      </form>

    </div>

  </body>

</html>